<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
  <modelVersion>4.0.0</modelVersion>
  <groupId>br.ufrn.insider_treat</groupId>
  <artifactId>InsiderTreat</artifactId>
  <version>0.0.1-SNAPSHOT</version>
  <name>Insider Treat</name>
  <description>Projeto da terceira unidade de LP2</description>
  
  <!-- https://javageek.org/2015/09/25/handling-sensitive-data-using-maven/ -->
  <profiles>
  	<profile>
		<id>default</id>
		<properties>
			<db.username>postgresl</db.username>
			<db.password></db.password>
		</properties>
	</profile>
   </profiles>
  
  <dependencies>
  	<dependency>
  		<groupId>postgresql</groupId>
  		<artifactId>postgresql</artifactId>
  		<version>9.1-901.jdbc4</version>
  	</dependency>
  </dependencies>
</project>